@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  align-items: center;
}


.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  height:70.5px;
}

.navigation-list {
  width: 460px;
  margin: 0;
  padding: 0;
}

.navigation-block {
  width: 637px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.navigation-user {
  width: 330px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.hero {
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.infrastructure-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.hotels-properties {
  display: flex;
  width: 1200px;
  height: 412 px;
  flex-direction: column;
  color:#ffffff;
  background-image: url("../images/catalog-background.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.lead-subheading {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.white {
  color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  width: 100%;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-catalog {
  width: 100%;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-field {
  font-family: "PT Sans", sans-serif;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.search {
    width: 100%;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}



.control-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.inner-sort-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sort-select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82B3D3
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
}
